$my-applications-margin-top: 180px;

.my-applications-container {
  margin: $my-applications-margin-top 20px;

  .my-applications-list-container {
    padding: 20px;
    text-align: left;

    #application-list {
      list-style-type: none;
    }

    .my-applications-heading {
      text-align: center;
      color: #333;
    }

    .application {
      border-bottom: 1px solid #ccc;
      padding: 15px 0;
      transition: background-color 0.3s;

      &:hover {
        background-color: #f0f0f0;
      }

      h2 {
        margin: 0;
        color: #007bff;
      }

      p {
        margin: 5px 0;
        color: #666;
      }

      .application-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .status-container {
          padding: 10px;
          display: flex;
          align-items: center;
          border-radius: 10px;
          margin: 25px;
          color: white;
        }
      }
    }
  }
}
