@import url("../../colors.scss");

$margin-top: 150px;

.container {
  margin-top: $margin-top;
  background-color: var(--edit-job-background-color);
  padding: 30px;
  border-radius: 0;
  box-shadow: none;
  text-align: left;

  .h1 {
    color: var(--edit-job-color);
    margin-bottom: 50px;
  }

  .titleContainer {
    display: flex;
    justify-content: space-between;
  }

  .formGroup {
    margin-bottom: 25px;

    .label {
      display: block;
      font-weight: bold;
      color: var(--edit-job-color);
    }

    .jobTechnologyContainer {
      .cardContainer {
        margin-top: 20px;
        .card {
          display: inline;
          cursor: pointer;
          background-color: var(--post-job-tech-card-bg-color);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          transition: 0.3s;
          padding: 5px;
          margin: 10px;
        }

        .card:hover {
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }

    .select,
    input[type="text"].input,
    textarea.textarea {
      width: calc(100% - 24px);
      padding: 12px;
      font-size: 16px;
      border: 1px solid;
      border-color: var(--edit-job-border-color);
      border-radius: 5px;
      transition: border-color 0.3s ease;

      &:focus {
        outline: none;
        border-color: var(--edit-job-primary-color);
      }
    }
  }

  button[type="submit"].submit {
    display: block;
    padding: 12px;
    font-size: 18px;
    color: var(--edit-job-button-text-color);
    background-color: var(--edit-job-primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--edit-job-primary-color-hover);
    }
  }
}
