.about-us-container {
  margin: 200px;

  .about-us-title {
    font-weight: bold;
    font-size: xx-large;
  }

  .about-us-first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 100px;

    .about-us-cjp-logo {
      padding: 40px;
    }

    .about-us-paragraph {
      text-align: left;
      color: gray;
      margin-bottom: 40px;
    }
  }

  .about-us-second-section {
    .about-us-ceo-logo {
      border-radius: 20%;
    }

    .about-us-ceo-title {
      color: gray;
      font-weight: bold;
      margin-top: 10px;
    }
  }
}
