* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(248, 248, 248);
}

header.nav-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(49, 45, 45, 0.1);
  z-index: 1000;
}

.nav-header .nav-wrapper {
  display: flex;
  align-items: center;
}

.nav-header .nav-wrapper img {
  height: 50px;
  width: 130px;
}

.nav-header .nav-button-wrapper .sign-up-button {
  margin-right: 20px;
  background-color: purple;
}

.nav-header .nav-button-wrapper .login-button {
  background-color: darkblue;
}

.nav-header .nav-button-wrapper .sign-up-button:hover,
.nav-header .nav-button-wrapper .login-button:hover {
  opacity: 0.3;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #414040;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;

  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #929292;
}

#user-avatar-container {
  display: none;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
}

.logout-button {
  padding: 10px 20px;
  border-radius: 25px;
  margin: 0px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #0056b3;
}

.sign-up-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sign-up-button:hover {
  background-color: #0056b3;
}

.login-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}
