.user-portal-container {
  margin: 200px 0px;

  .user-portal-avatar {
    height: 100px;
    background-color: #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .user-portal-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .user-portal-input {
      padding: 10px;
      margin-bottom: 20px;
      border: 2px solid gainsboro;
      border-radius: 5px;
    }

    .user-portal-submit {
      background-color: #0972e3;
      margin-top: 20px;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 15px;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
