$margin-top: 180px;

.container {
  margin: $margin-top 20px;

  @media only screen and (max-width: 768px) {
    margin: 100px 10px;
  }

  @media only screen and (max-width: 480px) {
    margin: 50px 5px;
  }

  .listContainer {
    padding: 20px;
    text-align: left;
    margin-bottom: 600px;

    @media only screen and (max-width: 768px) {
      padding: 15px;
      margin-bottom: 400px;
    }

    @media only screen and (max-width: 480px) {
      padding: 10px;
      margin-bottom: 200px;
    }

    .jobList {
      list-style-type: none;
    }

    .heading {
      text-align: center;
      color: var(--heading-color);
    }

    .job {
      border-bottom: 1px solid #ccc;
      padding: 15px 0;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--job-hover-color);
      }

      @media only screen and (max-width: 480px) {
        padding: 10px 0;
      }

      h2 {
        margin: 0;
        color: var(--job-heading-color);
      }

      p {
        margin: 5px 0;
        color: var(--job-text-color);

        @media only screen and (max-width: 480px) {
          margin: 3px 0;
        }
      }

      .jobContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media only screen and (max-width: 480px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 50px;
        }

        .editButton,
        .deleteButton,
        .viewApplicationButton {
          margin-left: 10px;
          padding: 8px 12px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          text-decoration: none;

          @media only screen and (max-width: 480px) {
            margin-left: 5px;
            margin-bottom: 5px;
            padding: 6px 10px;
          }
        }

        .editButton {
          background-color: var(--edit-button-background-color);
          color: #fff;

          &:hover {
            background-color: var(--edit-button-hover-color);
          }
        }

        .deleteButton {
          background-color: var(--delete-button-background-color);
          color: #fff;

          &:hover {
            background-color: var(--delete-button-hover-color);
          }
        }

        .viewApplicationButton {
          background-color: var(--view-application-button-background-color);
          color: #fff;

          &:hover {
            background-color: var(--view-application-button-hover-color);
          }
        }
      }
    }
  }
}

.emptyListContainer {
  text-align: center;

  .emptyListImg {
    margin-top: 20px;
    height: 100px;
    width: 100px;
  }

  .emptyListMessage {
    margin-top: 20px;
  }
}
