@import url("../../colors.scss");

$margin-top: 180px;

.container {
  margin: $margin-top 20px;

  .listContainer {
    padding: 20px;

    #list {
      list-style-type: none;
    }

    .heading {
      text-align: center;
      color: var(--heading-color);
    }

    .application {
      border-bottom: 1px solid #ccc;
      padding: 15px 0;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--application-hover-color);
      }

      h2 {
        margin: 0;
        color: var(--application-title-color);
      }

      p {
        margin: 5px 0;
        color: var(--application-text-color);
      }

      .applicationContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media only screen and (max-width: 480px) {
          flex-direction: column;
          align-items: center;
        }

        .applicationInfo {
          text-align: left;
        }

        .acceptButton,
        .rejectButton {
          margin-left: 10px;
          padding: 8px 12px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }

        .acceptButton {
          background-color: var(--accept-button-background-color);
          color: var(--accept-button-text-color);
          text-decoration: none;

          &:hover {
            background-color: var(--accept-button-hover-color);
          }
        }

        .rejectButton {
          background-color: var(--reject-button-background-color);
          color: var(--reject-button-text-color);

          &:hover {
            background-color: var(--reject-button-hover-color);
          }
        }
      }
      .buttonConfirmContainer {
        padding: 10px;
        align-items: center;
        border-radius: 10px;
        margin: 25px;
        color: white;
      }
    }
  }
}

.emptyListContainer {
  text-align: center;
  .emptyListImg {
    margin-top: 20px;
    height: 100px;
    width: 100px;
  }

  .emptyListMessage {
    margin-top: 20px;
  }
}

.modalSelectionReply {
  display: flex;
  align-items: center;
  justify-content: center;

  .modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    .modalContainer {
      width: 500px;
      height: 500px;
      border-radius: 12px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display: flex;
      flex-direction: column;
      padding: 25px;

      @media only screen and (max-width: 768px) {
        width: 90%;
        height: auto;
        margin-top: 200px;
      }

      @media only screen and (max-width: 480px) {
        width: 100%;
        height: auto;
        margin-top: 100px;
        padding: 15px;
      }

      .modalTitle {
        display: inline-block;
        text-align: center;
        margin: 10px 0px 40px 0px;

        @media only screen and (max-width: 768px) {
          margin: 10px 0px 20px 0px;

          h1 {
            font-size: 25px;
          }
        }
      }

      .modalInput {
        padding: 0px 0px 100px 0px;
        margin-bottom: 20px;
        border: 2px solid var(--input-border-color);
        border-radius: 5px;

        @media only screen and (max-width: 480px) {
          padding: 0px 0px 50px 0px;
          margin-bottom: 10px;
        }
      }

      .titleCloseBtn {
        display: flex;
        justify-content: flex-end;
      }

      .titleCloseBtn button {
        background-color: transparent;
        border: none;
        font-size: 25px;
        cursor: pointer;
      }

      .modalContainer .body {
        flex: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.7rem;
        text-align: center;

        @media only screen and (max-width: 480px) {
          font-size: 1.2rem;
        }
      }

      .footer {
        flex: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        .confirmBtn {
          width: 150px;
          height: 45px;
          margin: 10px;
          border: none;
          background-color: cornflowerblue;
          color: white;
          border-radius: 8px;
          font-size: 20px;
          cursor: pointer;

          @media only screen and (max-width: 480px) {
            width: 100px;
            height: 35px;
            font-size: 16px;
            margin: 5px;
          }
        }
      }
    }
  }
}
