@import url("../../colors.scss");

.class {
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
}

.container {
  margin: 300px 0px;
  background-color: var(--login-container-background-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 400px;
  max-width: 90%;
  text-align: center;

  h2 {
    margin-bottom: 20px;
    color: var(--login-container-text-color);
  }

  .email,
  .password {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--login-input-border-color);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: var(--login-input-background-color);
  }

  .submit {
    width: 100%;
    background-color: var(--login-submit-background-color);
    margin-top: 50px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--login-submit-hover-background-color);
    }
  }
}
