.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin: 0px 20px 0px 24px;
}

.youtube-logo {
    height: 22px;
}

.middle-section {
    flex: 1;
    margin: 0px 35px 0px 70px;
    max-width: 650px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 34px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 0;
}

.search-bar::placeholder {
    font-size: 16px;
}

.search-button {
    height: 38px;
    width: 60px;
    border: 1px solid lightgray;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* Currently there is no other way I can design it without using negative margin, so using this until I learn a better way */
    margin: 0px 20px 0px -1px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding: 8px 5px;
    font-size: 12px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.15s;
    bottom: -50px;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
    opacity: 1;
}

.search-icon {
    height: 25px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border: none;
}

.voice-icon {
    height: 25px;
}

.right-section {
    width: 180px;
    margin-right: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload-icon {
    height: 25px;
}

.notifications-icon {
    height: 25px;
}

.notifications-icon-container {
    position: relative;
}

.notifications-count {
    position: absolute;
    /* Currently there is no other way I can design it without using negative margin, so using this until I learn a better way */
    right: -2px;
    top: 0;
    background-color: red;
    color: white;
    padding: 0px 4px;
    font-size: 12px;
    border-radius: 8px;
}

.youtube-apps-icon {
    height: 25px;
}

.current-user-icon {
    height: 30px;
    border-radius: 15px;
}